.slick-dots {
  overflow: hidden;
  position: absolute;
  top: 87%;
  left: 0;
  right: 0;
  font-size: 20px;
  z-index: 100;
  text-align: center;
  margin: 0 auto;
  height: 10%;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
