.slick-dots {
  position: absolute;
  top: 220px;
  font-size: 20px;
  z-index: 100;
  text-align: center;
}
.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
